<div class="m-hotgraphic__popup-inner u-clearfix">

  {{#each _items}}
  <div class="m-hotgraphic__item component-item u-clearfix{{#if _classes}} {{_classes}}{{/if}}{{#if _isVisited}} is-visited{{/if}}{{#if _isActive}} is-active{{/if}}" data-index={{@index}}>

    <div class="m-hotgraphic__item-content">
      <div class="m-hotgraphic__item-content-inner">

        {{#if title}}
        <div class="m-hotgraphic__content-title" {{{a11y_attrs_heading "componentItem"}}}>
          <div class="m-hotgraphic__content-title-inner">
            {{{title}}}
          </div>
        </div>
        {{/if}}

        {{#if body}}
        <div class="m-hotgraphic__content-body">
          <div class="m-hotgraphic__content-body-inner">
            {{{a11y_text body}}}
          </div>
        </div>
        {{/if}}

      </div>
    </div>

    <div class="m-hotgraphic__item-image-container">

      {{#if _graphic.alt}}
      <img class="m-hotgraphic__item-image" src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0"/>
      {{else}}
      <img class="m-hotgraphic__item-image a11y-ignore" src="{{_graphic.src}}" aria-hidden="true" tabindex="-1"/>
      {{/if}}

      {{#if _graphic.attribution}}
      <div class="m-hotgraphic__attribution">
        <div class="m-hotgraphic__attribution-inner">
          {{{a11y_text _graphic.attribution}}}
        </div>
      </div>
      {{/if}}

    </div>

  </div>
  {{/each}}

</div>

<div class="m-hotgraphic__popup-toolbar component-item-color u-clearfix">

  {{#unless _hidePagination}}
  <div class="m-hotgraphic__popup-nav component-item-color">

    <button class="btn-icon m-hotgraphic__popup-controls back js-hotgraphic-popup-control" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
      <div class="icon"></div>
    </button>

    <div class="m-hotgraphic__popup-count component-item-text-color" tabindex="0"></div>

    <button class="btn-icon m-hotgraphic__popup-controls next js-hotgraphic-popup-control" aria-label="{{_globals._accessibility._ariaLabels.next}}">
      <div class="icon"></div>
    </button>

  </div>
  {{/unless}}

  <button class="btn-icon m-hotgraphic__popup-done js-hotgraphic-popup-done" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
    <div class="icon"></div>
  </button>

</div>

{{a11y_wrap_focus}}
