<div class="component__inner m-hotgraphic__inner" role="region" aria-label="{{_globals._components._hotgraphic.ariaRegion}}" {{#if _globals._components._hotgraphic.ariaRegion}}tabindex="0"{{/if}}>

  {{> component this}}

  <div class="component__widget m-hotgraphic__widget{{#if _useGraphicsAsPins}} is-tile{{else}} is-pin{{/if}}">

    <div class="m-hotgraphic__graphic">

      {{#if _useGraphicsAsPins}}
      <div class="m-hotgraphic__narrative">

        {{#each _items}}
        <button class="m-hotgraphic__graphic-pin-image-container m-hotgraphic__graphic-pin-image-container-{{@index}} component-item-text-color{{#if _isVisited}} is-visited{{/if}}{{#if _graphic._classes}} {{_graphic._classes}}{{/if}} js-hotgraphic-graphic-pin" data-index="{{@index}}" aria-haspopup="dialog" aria-label="{{../_globals._components._hotgraphic.ariaPinLabel}} {{numbers @index}}. {{title}}.{{#if _isVisited}} {{../_globals._accessibility._ariaLabels.visited}}.{{/if}}">
          <img class="m-hotgraphic__graphic-pin-image component-item-color item-{{@index}}" src="{{_graphic.src}}">
        </button>
        {{/each}}

      </div>

      {{else}}

      <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0"/>

      {{#if _graphic.attribution}}
      <div class="m-hotgraphic__attribution">
        <div class="m-hotgraphic__attribution-inner">
          {{{_graphic.attribution}}}
        </div>
      </div>
      {{/if}}

      {{#each _items}}
      <button class="btn-icon m-hotgraphic__graphic-pin item-{{@index}} component-item-text-color{{#if _isVisited}} is-visited{{/if}}{{#if _graphic._classes}} {{_graphic._classes}}{{/if}} js-hotgraphic-graphic-pin" data-index="{{@index}}" style="top: {{{_top}}}%; left: {{{_left}}}%;" aria-haspopup="dialog" aria-label="{{../_globals._components._hotgraphic.ariaPinLabel}} {{numbers @index}}. {{title}}.{{#if _isVisited}} {{../_globals._accessibility._ariaLabels.visited}}.{{/if}}">
        <div class="icon item-{{@index}}"></div>
      </button>
      {{/each}}

      {{/if}}

    </div>

  </div>

</div>
